{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="card shadow p-4" style="width: 400px;">
        <h3 class="text-center mb-4">Register</h3>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label> {{ form.errors }}
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label> {{ form.errors }}
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Type your password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Repeat Password</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat password" required>
            </div>
            {{ form.errors }}
            <button type="submit" class="btn btn-primary w-100">Register</button>
            <div class="text-center mt-3">
                <small>Already have an account <a href="{% url 'login' %}">Login here</a></small>
            </div>
        </form>
    </div>
</div>
{% endblock %}